<mat-drawer-container class="example-container" [autosize]="true">
  <app-header></app-header>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-shopping-cart (closeCart)="closeDrawer($event)"></app-shopping-cart>
  </mat-drawer>

  <div class="example-sidenav-content" *ngIf="loginService.isLoggedIn">
    <button type="button" mat-button (click)="drawer.toggle()">
      Cart {{shoppingService.cartItems.length}}
    </button>
  </div>

  <div class="content-wrapper">
    <mat-divider></mat-divider>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
<app-footer></app-footer>
